.gallery {
    margin-left: 10px;
    margin-right: 10px;
    align-self: stretch;
    display: flex;
    overflow: scroll;
    border-radius: 10px;
    border: 2px solid black;
    overflow-y: hidden;
}