.photo {
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    filter: drop-shadow(16px 16px 10px black);
    border-radius: 10px;
    border: 2px solid black;
}

.photo .title-text {
    position: absolute;
    rotate: 45deg;
    z-index: 1;
}