.photo {
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    border-radius: 10px;
    border: 3px solid black;
}

.photo span {
    position: absolute;
    rotate: 45deg;
}